/* basic */
$white: #ffffff;
$black: #000000;

/* gray */
$light-gray: #f0f5ff;

/* blue */
$light-blue: #e6f7ff;
$dark-blue: #2c5cc5;

/* green */
$light-green: #b7eb8f;

/* red */
$light-red: #ffccc7;
$dark-red: #f5222d;
